.search {
  width: 410px;
  height: 40px;
  border-radius: 8px;
  &__form {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-color: #f6f6f8;
    padding: 9px 16px;
    position: relative;
    border-radius: 8px;
    &-icon {
      color: #898da6;


    }
    &-inp {
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: none;
      outline: none;
      font-weight: 500;
      font-size: .8rem;
      color: #898da6;
      &::placeholder {
        color: #898da6;
      }
      
    }
    
    &-btn {
      display: none;
      background-color: #ccc;
      width: 38px;
      height: 38px;
      border: none;
      color: #898da6;
      font-size: 16px;
      position: absolute;
      right: 0;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}
.active-btn {
  display: block;
}
.no-active-btn {
  display: none;
}
@media only screen and (max-width: 1200px) and (min-width: 1000px) {
  .search {
    width: 220px;
  }
}